/* Normalization */

html{font-family: sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}a{background-color:transparent}a:active,a:hover{outline:0}small{font-size:80%}img{border:0}svg:not(:root){overflow:hidden}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}

body {
  padding: 2rem 1rem 3rem 1rem;
  color: #444;
  background: #fff8f5;
}

b {
  font-variation-settings: 'wght' 800;
}

.container {
  max-width: 80em;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

h1 {
  font-family: "Homemade Apple";
  color: indianred;
  font-size: 1.5rem;
}

h2, h3, h4 {
  color: #405B41;
  font-family: 'Alice', serif;
  font-weight: 400;
}

hr {
  border: 0;
  border-top: 1px solid #ccc;
}

table {
}

table th {
  text-align: left;
}

table td {
  padding-right: 2em;
  padding-top: .5em;
  padding-bottom: .5em;
}

table tr {
  border-bottom: 1px solid #eee;
}

table mark {
  color: #aaa;
  background: none;
}

nav a {
  padding-right: 1rem;
}

nav a.current { 
  background: #ffc;
}

.line-tight {
  max-width: 45em;
}
